<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora Automática</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1 class="Texto">Calculadora Automática</h1>
        <h2 class="Texto">Ao colocar os numeros e operadores ela calcula automaticamente</h2>
    </header>
    
    <main>
        <div class="visor">
            <input type="text" id="resultado" class="Texto" readonly>

        </div>

        <div class="botoes" aling="center">
        <input type="button" value="(">
        <input type="button" value=")">
        <input type="button" value="^">
        <input type="button" value="+">
        <br>
        <input type="button" value="1">
        <input type="button" value="2">
        <input type="button" value="3">
        <input type="button" value="-">
        <br>
        <input type="button" value="4">
        <input type="button" value="5"> 
        <input type="button" value="6"> 
        <input type="button" value="*">
        <br> 
        <input type="button" value="7"> 
        <input type="button" value="8">
        <input type="button" value="9">
        <input type="button" value="/">
        <br>
        <input type="button" value="." class="texto">
        <input type="button" value="%" class="texto">
        <input type="button" value="M" class="texto">
       <input type="button" value="=">
    </div>
        
</main>
</body>
</html>